<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <!-- Slate is my WIP CSS "framework" -->
    <link rel="stylesheet" href="https://kwlucas.github.io/Slate/css/core.css" />
    <link rel="stylesheet" type="text/css" href="./styles/style.css" />
</head>

<body>
    <header class="prod-2">
        <div class="container seperate elements-prod-1">
            <div class="heading-1">The Tech Blog</div>
            <a class="title-3 log-btn" href="">Logout</a>
        </div>
        <nav class="navbar center-text title-3">
            <div class="elements-prod-3">
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
            </div>
        </nav>
    </header>
    {{{body}}}
</body>
<script src="./scripts/index.js"></script>
</html>