<main>
    <div class="card">
        <div class="header">
            <h2>Title</h2>
            <div>
                Posted by USER on DATE
            </div>
        </div>
        <div class="body">
            Card content goes here.
        </div>
    </div>
</main>