<main>
    <div class="card clickable hover-raise">
        <div class="header inline seperate shaded elements-prod-horizontal-2">
            <div class="inline">
                <h2>Title</h2>
                <div class="italics prod-right-2">by USER</div>
            </div>
            <div>
                Posted DATE
            </div>
        </div>
        <div class="body">
            Card content goes here.
        </div>
    </div>
</main>