<main>
    <div id="user-signed-in" class="hidden">{{signedInUser.id}}</div>
    <form id="new-post-form" class="card">
        <div class="header inline seperate shaded elements-prod-horizontal-2">
            <div class="inline">
                <input id="title-input" class="heading-2" type="text" required placeholder="Enter Post Title"></input>
            </div>
        </div>
        <div class="body">
            <textarea id="content-input" rows="5" required placeholder="Enter your post content here."></textarea>
        </div>
        <div class="footer button-group">
            <button id="reset-btn" class="danger" type="reset">Clear</button>
            <button id="submit-btn" class="success" type="submit">Submit</button>
        </div>
    </form>
</main>